# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual Environments
# -----------------------------
venv/
env/
twitter_env/
.venv/

# -----------------------------
# Logs (VERY IMPORTANT)
# -----------------------------
*.log

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Spark Temp
# -----------------------------
metastore_db/
spark-warehouse/

# -----------------------------
# Secrets
# -----------------------------
.env